*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  line-height: 1;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.main__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ebf0fa;
  margin: 2.25rem 2.5rem;
  padding-left: 4.5rem;
  border-radius: 0.625rem;
  max-width: 120rem;
  height: 28.4375rem;
}
@media (max-width: 1410px) {
  .main__container {
    margin: 1.5rem;
    padding: 0;
    height: 23.5rem;
    align-items: center;
    -moz-column-gap: 3.125rem;
         column-gap: 3.125rem;
  }
}
@media (max-width: 1199px) {
  .main__container {
    flex-direction: column;
    margin: 0.875rem 1.5rem;
    height: 40rem;
  }
}
@media (max-width: 797px) {
  .main__container {
    flex-direction: column;
    margin: 0.875rem 1.5rem;
  }
}
@media (max-width: 600px) {
  .main__container {
    height: 32rem;
  }
}
@media (max-width: 450px) {
  .main__container {
    height: 30rem;
  }
}

.main__info {
  display: flex;
  flex-direction: column;
  width: 33.625rem;
  min-width: 33.625rem;
  margin-top: 6.375rem;
}
@media (max-width: 1410px) {
  .main__info {
    margin-top: 0;
    width: 60%;
    padding: 1.5rem;
  }
}
@media (max-width: 1199px) {
  .main__info {
    width: 90%;
  }
}
@media (max-width: 797px) {
  .main__info {
    min-width: 17.5rem;
    padding: 1.5rem 1.5rem 1.125rem 1.5rem;
    width: 100%;
  }
}
.main__info .info__title {
  color: #1f4284;
  font-weight: 500;
  font-size: 1.875rem;
}
@media (max-width: 1440px) {
  .main__info .info__title {
    font-size: 1.625rem;
  }
}
@media (max-width: 1410px) {
  .main__info .info__title {
    font-size: 1.25rem;
  }
}
@media (max-width: 797px) {
  .main__info .info__title {
    font-size: 1.0625rem;
  }
}
.main__info .info__subtitle {
  color: #727272;
  font-weight: 400;
  font-size: 1.0625rem;
  margin: 1.125rem 1.6875rem 2.25rem 0;
}
@media (max-width: 1410px) {
  .main__info .info__subtitle {
    margin: 1.125rem 0 1.5rem 0;
    font-size: 0.9375rem;
  }
}
@media (max-width: 797px) {
  .main__info .info__subtitle {
    font-size: 0.8125rem;
    margin: 0.875rem 0 1.125rem 0;
  }
}
.main__info .info__btn {
  background-color: #244c98;
  width: 21.3125rem;
  height: 4.25rem;
  border: none;
  border-radius: 3.75rem;
  padding: 0 0.75rem 0 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 1410px) {
  .main__info .info__btn {
    width: 16.3125rem;
    height: 3.5rem;
    padding: 0 0.625rem 0 1.125rem;
  }
}
@media (max-width: 797px) {
  .main__info .info__btn {
    width: 17.4375rem;
  }
}
.main__info .info__btn p {
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 500;
}
@media (max-width: 1410px) {
  .main__info .info__btn p {
    font-size: 0.9375rem;
  }
}
.main__info .info__btn .info__btn-img {
  width: 2.25rem;
  height: 2.25rem;
  background-color: #fff;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__info .info__btn .info__btn-img img {
  width: 1.5rem;
  height: 1.5rem;
}

.main__img {
  width: 56.875rem;
  height: 28.4375rem;
}
@media (max-width: 1490px) {
  .main__img {
    width: 45rem;
  }
}
@media (max-width: 1410px) {
  .main__img {
    height: 23.4375rem;
  }
}
@media (max-width: 797px) {
  .main__img {
    width: 100%;
    height: 100%;
  }
}
.main__img .img {
  width: 100%;
  height: 100%;
  background-image: url(../media/image-example.webp);
  background-repeat: no-repeat;
  background-position: 0 -5rem;
  background-size: cover;
  border-radius: 0 0.625rem 0.625rem 0;
}
@media (max-width: 1490px) {
  .main__img .img {
    background-position: 0;
  }
}
@media (max-width: 1410px) {
  .main__img .img {
    width: 100%;
    height: 100%;
    border-radius: 0 0.625rem 0.625rem 0;
  }
}
@media (max-width: 1199px) {
  .main__img .img {
    border-radius: 0 0 0.625rem 0.625rem;
  }
}

.main__modal {
  display: none;
  position: absolute;
  left: calc(50% - 15.625rem);
  top: calc(50% - 17.8125rem);
  width: 31.25rem;
  height: 35.9375rem;
  background-color: #f0f4fc;
  padding: 1.5rem;
  flex-direction: column;
  align-items: stretch;
  row-gap: 0.25rem;
}
.main__modal.active {
  display: flex;
}
@media (max-width: 1199px) {
  .main__modal {
    width: 27rem;
    height: 32rem;
    left: calc(50% - 13.5rem);
    top: calc(50% - 16rem);
  }
}
@media (max-width: 797px) {
  .main__modal {
    width: 20rem;
    height: 28rem;
    left: calc(50% - 10rem);
    top: calc(50% - 14rem);
  }
}
.main__modal .modal__btn {
  border: none;
  width: 3.25rem;
  height: 3.25rem;
  background-color: #ffffff;
  border-radius: 0.625rem;
  cursor: pointer;
  align-self: end;
}
.main__modal .modal__btn img {
  width: 1.5rem;
  height: 1.5rem;
}
.main__modal .modal__title {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0 1.125rem 0;
}
@media (max-width: 797px) {
  .main__modal .modal__title {
    font-size: 1rem;
  }
}
.main__modal input[type=text],
.main__modal input[type=number] {
  border: none;
  width: 100%;
  height: 4.5625rem;
  background-color: #d7e2f6;
  border-radius: 0.625rem;
  padding: 0 1.5rem;
  color: #1f4284;
  font-size: 1.125rem;
  font-weight: 500;
}
@media (max-width: 797px) {
  .main__modal input[type=text],
  .main__modal input[type=number] {
    font-size: 1rem;
  }
}
.main__modal input::-moz-placeholder {
  color: #1f4284;
}
.main__modal input::placeholder {
  color: #1f4284;
}
.main__modal .modal__checkbox {
  margin: 1.25rem 0;
  display: flex;
  -moz-column-gap: 0.875rem;
       column-gap: 0.875rem;
  font-size: 1.125rem;
  position: relative;
}
.main__modal .modal__checkbox input[type=checkbox] {
  width: 1.75rem;
  height: 1.75rem;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.main__modal .modal__checkbox .custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main__modal .modal__checkbox .custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1.125rem;
  height: 1.125rem;
  border: 0.125rem solid black;
  border-radius: 0.1875rem;
  cursor: pointer;
}
.main__modal .modal__checkbox .custom-checkbox:checked + label::before {
  background-color: #244c98;
}
.main__modal .modal__recovery {
  font-size: 1.25rem;
  font-weight: 500;
  color: #244c98;
  margin-bottom: 2rem;
  cursor: pointer;
}
@media (max-width: 797px) {
  .main__modal .modal__recovery {
    font-size: 1rem;
  }
}
.main__modal .modal__enter,
.main__modal .modal__register {
  height: 3.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 797px) {
  .main__modal .modal__enter,
  .main__modal .modal__register {
    font-size: 1rem;
  }
}
.main__modal .modal__enter {
  color: #ffffff;
  background-color: #244c98;
}
.main__modal .modal__register {
  background-color: #ffffff;
  color: #244c98;
}

body {
  font-family: "Manrope", sans-serif;
}

.wrapper {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}/*# sourceMappingURL=style.css.map */